@import "../../constants/variables.scss";

.form-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 50px auto;

  h1 {
    color: $primary-color;
    margin-bottom: 20px;
  }

  .error-message {
    color: $error-color;
    font-weight: bold;
    margin-top: 10px;
  }

  .success-message {
    color: $success-color;
    font-weight: bold;
    margin-top: 10px;
  }

  .download-link {
    margin-top: 20px;
    text-align: center;

    a {
      text-decoration: none;
      color: $primary-color;
      font-weight: bold;
      border: 2px solid $primary-color;
      padding: 10px 20px;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}
